* {
  margin: 0;
}

:root {
  /*global tokens*/
  --white: #ffff;
  --lightgrey: #eeeeee;
  --darkgrey: #282828;
  --black: #0000;

  --red1: #ffeced;
  --red2: #f5b4b1;
  --red3: #e5233b;

  /* Alias Tokens */
  --color-maintext: var(--black);
  --color-headertext: var(--red3);

  --color-surface-button: var(--red3);
  --color-text-button: var(--red1);
}
@media (min-width: 700px) {
  h1 {
    font-size: 100px;
    font-family: "DansestudietDisplay1-Bold";
  }
}

a {
  font-size: 36px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
    font-family: "DansestudietDisplay1-Bold";
  }
  h2 {
    font-size: 40px;
    font-family: "DansestudietDisplay1-Bold";
  }

  a {
    font-size: 22px;
  }
}

h2 {
  font-size: 60px;
  font-family: "DansestudietDisplay1-Bold";
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
  font-family: "Montserrat";
}

h5 {
  font-size: 20px;
  font-family: "Montserrat";
}

p {
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 44px;
  color: var(--black);
}

@font-face {
  font-family: "DansestudietDisplay1-Bold";
  src: url(../fonte/DansestudietDisplay1-Bold.otf);
}
