* {
  margin: 0;
}

:root {
  /* Mode 1 */
  /* colors */
  --color-neutral-black: #000000;
  --color-neutral-dark-grey: #282828;
  --color-neutral-light-grey: #eeeeee;
  --color-neutral-white: #ffffff;
  --color-red-1: #ffeced;
  --color-red-2: #f5b4b1;
  --color-red-3: #e5233b;
  /* numbers */
  --spacing-space-xxxsmall: 0.75rem;
  --spacing-space-xxsmall: 1.3125rem;
  --spacing-space-xsmall: 2.375rem;
  --spacing-space-small: 3.5rem;
  --spacing-space-medium: 6.5625rem;
  --spacing-space-large: 11.875rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 100px;
    font-family: "DansestudietDisplay1-Bold";
  }
  a {
    font-size: 28px;
  }
  h2 {
    font-size: 60px;
    font-family: "DansestudietDisplay1-Bold";
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 50px;
    font-family: "DansestudietDisplay1-Bold";
  }
  h2 {
    font-size: 40px;
    font-family: "DansestudietDisplay1-Bold";
  }
  a {
    font-size: 22px;
  }
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
  font-family: "Montserrat";
}

h5 {
  font-size: 20px;
  font-family: "Montserrat";
}

p {
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 44px;
  color: var(--black);
}

@font-face {
  font-family: "DansestudietDisplay1-Bold";
  src: url(../fonte/DansestudietDisplay1-Bold.otf);
}
