---
import Button from "../components/Button.astro";
import HeroUnit from "../components/HeroUnit.astro";
import Undervisere from "../components/Undervisere.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Montserrat+Alternates&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <HeroUnit />
    <Undervisere />
  </body>
</html>

<style>
  body {
    box-sizing: border-box;
    background-color: #ffeced;
  }
</style>
