---
const { text } = Astro.props;
---

<button>
  <a>{text}</a>
</button>

<style>
  button {
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #e5233b;
  }

  a {
    color: white;
    font-family: "Montserrat";
    font-size: 1.3rem;
  }
</style>
