---
const { text } = Astro.props;
---

<button>
  <p>{text}</p>
</button>

<style>
  button {
    display: inline-flex;
    padding: 40px 80px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #e5233b;
  }
</style>
