---
const { text } = Astro.props;
---

<button>
  <a>{text}</a>
</button>

<style>
  button {
    padding: 20px 32px;
    align-items: center;
    border: none;
    justify-self: center;
    border-radius: 20px;
    background: var(--red3);
  }

  button:hover {
    background: var(--red1);
    border-color: var(--red3);
    border-style: solid;
  }

  a {
    color: var(--white);
    font-family: "Montserrat";
    text-transform: uppercase;
  }

  a:hover {
    color: var(--red3);
  }

  @media (max-width: 700px) {
    button {
      padding: 12px 21px;
    }
  }
</style>
