---
const { text } = Astro.props;
---

<button>
  <a>{text}</a>
</button>

<style>
  button {
    padding: var(--spacing-space-xsmall) var(--spacing-space-small);
    border: none;
    border-radius: var(--spacing-space-xsmall);
    background: var(--color-red-3);
    text-align: center;
  }

  button:hover {
    background: var(--color-red-2);
    border-color: var(--color-red-3);
    border-style: solid;
  }

  a {
    color: var(--color-neutral-white);
    font-family: "Montserrat";
    text-transform: uppercase;
  }

  a:hover {
    color: var(--color-red-3);
  }

  @media (max-width: 700px) {
    button {
      padding: var(--spacing-space-xxxsmall) var(--spacing-space-xxsmall);
    }
  }
</style>
