<h2>
    Kontakt
</h2>
<p>
    Dansestudiet Aarhus
    Bissensgade 14 B
    8000 Aarhus C
    E-mail: info@dansestudiet.dk
    Telefon: 40102229
    CVR-nummer: 41118687
</p>

<h2>
    Åbningstider
</h2>
<p>
    





