<section class="footer">
  <div class="grid">
    <div class="boks_1">
      <div class="kontakt">
        <h2>Kontakt</h2>
        <p>Dansestudiet Aarhus</p>

        <p>Bissensgade 14B</p>
        <p>8000 Aarhus</p>
        <p>E-mail: info@dansestudiet.dk</p>
        <p>Telefon: 40102229</p>
        <p>CVR-nummer: 4118687</p>
      </div>
    </div>

    <div class="boks_2">
      <div class="åbningstider">
        <h2>Åbningstider</h2>
        <p>Mandag 09.00-21.00</p>
        <p>Tirsdag 09.30-21.00</p>
        <p>Onsdag 16.00-21.00</p>
        <p>Torsdag 08.00-21.00</p>
        <p>Fredag 08.00-17.30</p>
        <p>Lørdag 10.00-11.00</p>
      </div>
    </div>

    <div class="boks_3">
      <div class="logoer">
        <img class="logo1" src="/assets/images/logo1.png" />
        <img class="logo2" src="/assets/images/logo2.png" />
        <img class="logo3" src="/assets/images/logo3.png" />
      </div>
    </div>
  </div>

  <style>
    .footer {
      width: 100%;
      height: 100%;
      background: #f5b4b1;
    }
    .kontakt {
      color: #231f20;
      font-size: 10px;
      font-family: Montserrat;
      line-height: 20px;
      word-wrap: break-word;
    }

    .åbningstider {
      color: #231f20;
      font-size: 10px;
      font-family: Montserrat;
      line-height: 20px;
      word-wrap: break-word;
    }

    .boks_1 {
      justify-content: space-between;
      width: 237px;
      height: 229px;
      position: relative;
      justify-content: center;
    }

    .boks_2 {
      justify-content: space-between;
      width: 237px;
      height: 229px;
      position: relative;
    }

    .boks_3 {
      justify-content: space-between;
      width: 237px;
      height: 229px;
      position: relative;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
    }

    .img {
      width: 20%;
      height: auto;
      box-sizing: border-box;
    }

    /******** Desktop site *******/
    @media (min-width: 650px) {
      .footer {
        width: 100%;
        height: 100%;
        background: #f5b4b1;
        padding-left: 190px;
        padding-right: 190px;
        padding-bottom: 105px;
        padding-top: 105px;
      }
      .kontakt {
        color: #231f20;
        font-size: 15px;
        font-family: Montserrat;
        line-height: 25.2px;
        word-wrap: break-word;
      }

      .åbningstider {
        color: #231f20;
        font-size: 15px;
        font-family: Montserrat;
        line-height: 25.2px;
        word-wrap: break-word;
      }

      p {
        color: #231f20;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        line-height: 19.6px;
        word-wrap: break-word;
      }

      .boks_1 {
        justify-content: space-between;
        align-items: center;
        width: 237px;
        height: 229px;
        position: relative;
      }

      .boks_2 {
        justify-content: space-between;
        align-items: center;
        width: 237px;
        height: 229px;
        position: relative;
      }

      .boks_3 {
        justify-content: space-between;
        align-items: center;
        width: 237px;
        height: 229px;
        position: relative;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .img {
        width: 100%;
        height: auto;
        box-sizing: border-box;
      }
    }
  </style>
</section>
