<header>
  <div class="navigation_wrap">
    <div class="logo">
      <a href="/"> <img class="logo_img" src="/assets/images/logo.png" alt="" /></a>
    </div>

    <button class="burgermenuknap" id="burger-menu">
      Menu
      <span></span>
    </button>
    <nav id="menu">
      <ul>
        <li><a href="/"> SKEMA</a></li>
        <li><a href="/"> WORKSHOPS</a></li>
        <li><a href="/"> UNDERVISERE</a></li>
        <li><a href="/"> DANSEUDDANNELSER</a></li>
        <li><a href="/"> FORESTILLINGER</a></li>
        <li><a href="/"> PRAKTISK</a></li>
        <li><a href="/"> KONTAKT</a></li>
      </ul>
    </nav>
  </div>
</header>

<script src="../scripts/burger.js"></script>

<style>
  /* HEADER */

  .navigation_wrap {
    position: relative;
    display: flex;
    align-items: center;
  }
  header {
    display: flex;
    align-items: center;
    align-items: right;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: var(--color-red-1);
    width: 100%;
  }

  .logo_img {
    width: 70px;
  }

  /* BURGERMENU */

  #burger-menu {
    text-indent: -9999px;
    display: block;
    border: none;
    background: transparent;
    margin: var(--spacing-space-xxsmall);
    z-index: 2;
    position: fixed;
    top: 0px;
    right: var(--spacing-space-xsmall);
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: var(--color-red-3);
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    left: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: var(--color-red-3);
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: var(--color-red-3);
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    background: var(--color-red-3);
  }
  #menu {
    z-index: 1;
    background: var(--color-red-2);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: var(--spacing-space-xsmall);
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 10;
    padding-top: 100px;
    background: var(--color-red-2);
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
    display: initial;
  }
  #menu a {
    color: var(--color-red-3);
    display: block;
    font-size: 300%;
    text-decoration: none;
    font-family: "Montserrat";
    text-align: center;
    padding-right: 0.5%;
    padding-top: 2%;
  }

  #menu a:hover {
    color: var(--color-red-3);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-red-3);
  }

  @media (max-width: 700px) {
    #menu a {
      color: var(--color-red-3);
      display: block;
      font-size: 1rem;
      margin-bottom: 15px;
      text-decoration: none;
      font-family: "Montserrat";
      text-align: center;
      padding-right: 7.5%;
      padding-top: 2%;
    }
    #menu a:hover {
      color: var(--color-red-3);
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: var(--color-red-3);
    }
  }
</style>
