---
const { text } = Astro.props;
import Button from "../components/Button.astro";
---


<section>
    <div class="hero-image">
        <img class="billede" src="/assets/images/forsidebillede.png" alt="">
        <div class="hero-button">
          <Button text="Se skema her"> 
        </div>
      </div>     
</section>

<style>
.hero-button {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.billede{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
</style>

