<section>
  <div class="insta_grid">
    <h2>Følg os på instagram</h2>
    <p>@dansestudietaarhus</p>
    <div class="img_flex">
      <div class="container">
        <a href="hhttps://www.instagram.com/dansestudietaarhus/"><img src="/assets/images/some1.webp" alt="instagram post 1" width="100%" height="100%" /></a>
      </div>
      <div class="container"><a href="https://www.instagram.com/dansestudietaarhus/"><img src="/assets/images/some2.webp" alt="instagram post 2" width="100%" height="100%" /></a></div>
      <div class="container">
        <a href="https://www.instagram.com/dansestudietaarhus/"><img src="/assets/images/some3.webp" alt="instagram post 3" width="100%" height="100%" /></a>
      </div>
    </div>

    <style>
      .insta_grid {
        display: grid;
      }
      .insta_grid h2 {
        justify-self: center;
        align-self: center;
      }

      .insta_grid p {
        justify-self: center;
        align-self: center;
      }
      .img_flex {
        display: flex;
        justify-content: space-around;
        gap: 10px;
      }

      .img_flex a:hover {
        opacity: 50%;
      }

      @font-face {
        font-family: "DansestudietDisplay1-Bold";
        src: url(../fonte/DansestudietDisplay1-Bold.otf);
      }
      h2 {
        font-family: "DansestudietDisplay1-Bold";
        font-size: 1.5rem;
      }
    </style>
  </div>
</section>
