---
import Button from "./Button.astro";
---

<section>
  <div class="workshops">
    <h1>Månedens <br />workshop<br /></h1>
    <img src="/assets/images/commercialperformance_anna.webp" alt="workshops" width="100%" height="100%" />
  </div>
  <div class="knap">
    <Button text="Læs mere" />
  </div>
</section>

<style>
  .knap {
    text-align: center;
    padding-top: var(--spacing-space-small);
  }
  .workshops {
    display: grid;
    padding-top: var(--spacing-space-large);
  }
  .workshops h1 {
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-bottom: var(--spacing-space-small);
  }
</style>
