---
import Button from "./Button.astro";
---

<section>
  <h1>Månedens workshop</h1>
  <img src="/assets/images/commercialperformance_anna.webp" alt="workshops" />
  <Button text="Læs mere" />
</section>

<style></style>
