---
import Button from "./Button.astro";
---

<section>
  <div class="workshops">
    <h1>Månedens <br />workshop<br /></h1>
    <img src="/assets/images/commercialperformance_anna.webp" alt="workshops" width="100%" height="100%" />
  </div>
  <Button text="Læs mere" />
</section>

<style>
  .workshops {
    display: grid;
  }
  .workshops h1 {
    justify-self: center;
    align-self: center;
  }
</style>
